body
{
color:white;
background-color:red;
}
h1
{
	font-family:Elephant;
}
h2
{
	font-family:Arial;
}
h3
{
	font-family:Calibri;
}
h4
{
	font-family:Verdana;
}
h5
{
	font-family:Bell MT;
}
h6
{
	font-family:Book Antiqua;
}
h7
{
	font-family:Georgia;
}